.ProductImageGrid {
  .selected-image-container {
    .selected-image {
      width: 100%;
      display: block;
      height: 40vh;
      cursor: zoom-in;
      object-fit: contain;
    }

    .image-list {
      .image-list-item {
        margin: 5px;

        img {
          height: 62px;
          width: 62px;
          cursor: pointer;
          border: 1px solid #eee;
        }

        &.selected img {
          border: 1px solid black;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .selected-image {
    height: auto !important;
  }
  .image-list {
    flex-direction: row;
  }
}
