.Checkout {
  .credit-card-div {
    display: flex;
    justify-content: center;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 10px;
    }

    .credit-card-number {
      flex-shrink: 0;
      flex-grow: 1;
      width: 65%;
    }
  }

  @media (max-width: 600px) {
    .credit-card-div {
      flex-direction: column;

      .credit-card-number {
        width: 100%;
      }

      > *:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
