.Home {
  .jumbotron {
    display: flex;
    height: 70vh;

    .tagline {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 20px;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
