.NavDrawer {
  .MuiDrawer-paper {
    top: 64px;
    @media (max-width: 600px) {
      top: 56px;
    }
  }

  .container {
    padding: 1rem 5rem;
  }

  .body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 3rem;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
